body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
}

.card-body {
    background-color: rgb(23, 163, 184); !important
}

.fondoicon {
    background-color: rgb(23, 163, 184);
    height: 40px;
}

#nosotros i {
    margin-top: 20px;
}
