body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
}

.navbar-brand {
    margin-left: 7%;
}

#navegacion { 
    margin-right: 7%;
}

.row {
    margin-left: 7%;
    margin-right: 7%;
}

.card-body {
    background-color: rgb(23, 163, 184) !important;
}

.card {
    height: 450px;
    width: 17rem;
    
}

.fondoicon {
    background-color: rgb(23, 163, 184);
    height: 40px;
}

#nosotros i {
    margin-top: 20px;
}

footer {
    background-color: rgb(23, 163, 184) ;
}

footer a {
    color: white;
}