
/*Desactiva smooth scroll por defecto integrado en Bootstrap*/
html {
    scroll-behavior: auto !important;
}

/*Selección de la tipografía "Raleway" de Google Fonts para todo el 'body' de la página*/
body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
}

/*Estilos para dejar la navbar transparente y fija en la parte superior de la pantalla*/
.navbar {
    background: transparent !important;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

/*Ajuste de márgenes de contenido y contenedores*/
.navbar-brand {
    margin-left: 7%;
}

#navegacion { 
    margin-right: 7%;
}

.row {
    margin-left: 7%;
    margin-right: 7%;
}

#nosotros i {
    margin-top: 20px;
}

#formulario {
    margin-left: 7%;
    margin-right: 7%;
}

/*Estilos CSS para las líneas separadoras <hr> presentes en cada sección*/
hr {
    opacity: 1;
    height: 2px;
    color: rgb(23, 163, 184);
}
/*Color de contenedor de los íconos en la sección de quienes somos*/
.fondoicon {
    background-color: rgb(23, 163, 184);
    height: 40px;
}

/*Color de fondo para las cards de Bootstrap de la sección destacados*/
.card-body {
    background-color: rgb(23, 163, 184) !important;
}

/*Definición de altura y anchura de las cards*/
.card {
    height: 450px;
    width: 20rem;    
}

/*Color de fondo del footer y color de los links (íconos) del footer*/
footer {
    background-color: rgb(23, 163, 184) ;
}

footer a {
    color: white;
}
